_Resharper*
obj
bin
docs
x64
Win32
Debug
Release
*.user
*.cache
*.opensdf
*.generated.cs
*.Resources.Designer.cs.dll
*.force
*.suo
*.sdf
*.ipch
*.aps
*.csproj.user
src/Starcounter/Error.cs
src/Starcounter.Internal/Error.cs
src/_NCrunch_Level1
src/packages
.nuget

*.output

#nCover
*.sln.DotSettings
